h1{
    color:red;
    font-size: 65px;
    font-weight: 600;
    font-family: 'Mountains of Christmas';
    font-style: italic;

    text-decoration-line: underline;
    text-decoration-color: green;
    text-decoration-style:wavy;
    text-align: center;
}
p{
    color:rgb(72, 255, 0);
    font-size: 40px;
    font-weight: 600;
    font-family: 'Mountains of Christmas';
    font-style: italic;
}

body {
    background-image: url("christmas background.jpg");
}

