form{
    text-align: center;
    font-size: larger;
    background-color: rgb(0, 128, 70);
}

button{
    background-color: rgb(30, 125, 40);
    font-size: medium;
}

input{
    font-size: larger;
}

body{
    background-color: green;
}


